/* ============================LAYOUT SECTION ========*/



body {

box-sizing: border-box;
margin:0;
font-family: geogia ;
font-size:20px;

height: 700px;
width: 100%;


}
#header {
	font-family: Fantasy;
	margin-bottom:60px;
	margin-top: 30px;
	text-align: center;
	vertical-align:middle;
	font-size:175%;
}
p{
clear: both;
padding:20px ;
margin:0;
}
h2{
	text-align: center;
	float: right;
	width:35%;
	margin: 0;
	border: solid 2px black;
	padding: 10px 25px 10px 25px;
	font-size: 125%;
}
.t1{background: cyan;}
.t2{background: lime ;}
.t3{background: olive;}
@media (min-width: 992px) {

section{
background-color:silver;
	float: left;
	border: solid 2px black;
	width: 30%;
	margin-top: 25px;
	margin-bottom: 25px;
   margin-left: 2.5%;


}








}

@media(min-width: 768px) and (max-width: 991px){

.para1{
	
	background-color:silver;
	float: left;
	margin: 25px 0px 0px 25px;
	
	width: 44%;
	border: solid 2px black;
	
}
.para2{
	background-color:silver;
	float: right;
	
	margin: 25px 25px 0px 0px;
	width: 44%;
	border: solid 2px black;
	
}
.para3{
	
	background-color:silver;
	float: left;
	margin:25px;
	border: solid 2px black;
	
}





}
@media(max-width: 767px) {

	.para1,.para2,.para3{
	
	background-color:silver;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	margin-top: 25px;
	max-width: 90%;
	border: solid 2px black;
	
}
}