/* ============================LAYOUT SECTION ========*/



body {

box-sizing: border-box;
margin:0px;
font-family: geogia ;
font-size:18px;

}
#header {
	
	margin:50px;
	margin-bottom: 70px;
	text-align: center;
	font-family: fantasy;
	font-size:175%;
}

h2{
	font-size: 125%;
	text-align: center;
	float: right;
	width:35%;
	margin: 0;
	border: solid 2px black;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.t1{background: cyan;}
.t2{background: lime ;}
.t3{background: olive;}
p{  
	clear: both;
	padding: 5%;
	width: 90%;
	}

.row{
	width: 100%;
	
}
/******largest devices only ****/

@media (min-width: 992px) {


.col-lg-4{
	float:left;
	border: 1px solid black;
	margin: 0.55%;
	background-color:silver;
	width: 32%;
}

}
/******Medium devices only ****/
@media(min-width: 768px) and (max-width: 991px){

.col-md-6,.col-md-12{
	float:left;
	border: 1px solid black;
	margin:0.7%;
	background-color:silver;


}

.col-md-6{
	width: 48%;
}
.col-md-12{
	width: 98%;
}
}
/******small devices only ****/
@media(max-width: 768px) {
.col-lg-4{
	background-color: silver; 
	border: 1px solid black;
	margin: 2%;
	
}